/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* general setting */
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* fonts */
body {
  font-family: "Open Sans Condensed", sans-serif;
}
p {
  font-family: "Roboto Condensed", sans-serif;
}

.body {
  /* background-image: url('../img/Web_design_PNG.png'); */
  height: 400px;
  max-width: 676px;
  margin: 100px auto;
  border: 1px solid black;
}


/* links */
a {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
}

.list-link {
  text-decoration: none;
  padding: 2px;
  transition: border-bottom 1s;
}
.list-link:hover {
  border-bottom: 1px solid black;
}

/* content */
.second {
  position: relative;
}

.top-right {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.salutations {
  margin-top: 30px;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

ul {
  padding-left: 30px;
  padding-top: 5px;
}
li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.img {
  width: 100%;
  margin-top: 80px;
}

.img img {
  width: 80%;
  align-items: left;
  /* height: 100%; */
}

.contact {
  padding: 2.5px;
  margin-top: 30px;
}